* {
    /*
    border: 1px solid black;
     */
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    font-family: "Engravers' Gothic BT", sans-serif;
    //margin: 0;
    //padding: 0;
}

main {
    margin-top: 108px;
    font-size: 2.4rem;
    display: flex;
    /*
 flex-wrap: wrap;
justify-content: flex-end;
align-content: end;
 gap: 36 px;
     */
}

img {
    display: block;
    max-width: 100%;
}


@media (max-width: 1000px) {
    main {
        flex-direction: column;
        //background: yellow;
        //width: 100vw;
    }
    div.col-left {
        display: none;
    }

    div.col-right {
        //background: red;
        //height: initial;
        //min-height: inherit;
        padding: 10px;
        //width:100%;
    }
    div.col {
        //background: green;
        padding: 10px;
        //height: initial;
        //min-height: inherit;

        min-width:100%;
    }

    /*
    nav {
        display: none;
    }
     */

    header {
    //height: 113px;
        //position: fixed;
        //top: 1px;
        //left: 1px;
    }

    header h1 {
        background: #fff;
        color: #000;
        text-align: left;
        font-size: 2rem;
        font-weight: lighter;
    }
    img {
        display: block;
        max-width: 100%;
        min-width: 100%;
    }
    footer {
        height: 10px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: 1px solid red; */
    }

    body {
        /* background is white by default but added for clarity */
        background: white;
        width: 100%;
    }

    .hamburger, .close {
        border: none;
        cursor: pointer;
        /* position absolute position the icons relative to the body because they have no position relative parents*/
        position: absolute;
        top: 20px;
        right: 20px;
        width: 36px;
        height: 36px;
    }

    .hamburger {
        background: white;
    }

    .close {
        background: black;
    }

    .hamburger img, .close img {
        width: 100%;
        height: 100%;
    }

    .navbar {
        position: absolute;
        /* a higher z-index put navbar above hamburger */
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        /* basic menu styling*/
        list-style: none;
        background: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
        /* animate slide up/down */
        transform: translateY(-100%);
        transition: transform 0.2s ease;
    }

    /* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */

    .navbar:target {
        /* show navbar */
        transform: translateY(0);
    }

    li a {
        font-weight: lighter;
        display: block;
        //font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 3.2rem;
        /* remove default underline and add our own with padding and border bottom */
        text-decoration: none;
        //border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }

    li a:hover, li a:focus {
        /* show border bottom */
        border-bottom: 1px solid white;
    }
    li span {
        font-weight: lighter;
        display: block;
    //font-family: 'Open Sans', sans-serif;
        color: black;
        font-size: 5.2rem;
        /* remove default underline and add our own with padding and border bottom */
        text-decoration: none;
        //border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }
}



div.col-left {
    width: 480px;
    min-width: 480px;
    max-width: 480px;
}


div.col-right {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    align-items: end;

    /*
    width: 1076 px;
    justify-content: end;
     */
}

div.col {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    text-align: justify;
    width: 520px;
    min-height: 740px;
    justify-content: flex-end;
    /*
    margin: 10 px;
    padding: 0 16 px 0 16 px;
    */
}

@media (min-width: 1000px) {
    a.hamburger {
        display: none;
    }
    nav {
        position: fixed;
        top: 150px;
        left: 36px;
    }

    nav ul {
        list-style: none none;
        margin: 0;
        padding: 0;
        font-size: 24pt;
    }

    nav li a {
        text-decoration: none;
        list-style-type: none;
        display: block;
        color: #000;
        font-weight: lighter;
    }

    li a:hover {
        font-weight: bold;
    }
}

header {
    //height: 113px;
    position: fixed;
    top: 72px;
    left: 36px;
}

header h1 {
    color: #000;
    text-align: left;
    font-size: 4rem;
    font-weight: lighter;
}

p {
    width: 100%;
}
h1.t1 {
    text-align: center;
    font-size: 24pt;
    font-weight: lighter;
    width: 100%;
}

h2.t2 {
    text-align: center;
    font-size: 18pt;
    font-weight: lighter;
    width: 100%;
}

footer {
    height: 100px;
}